@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-cd2e2541d3edea2666b5a07b29aed2b6.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-eb42f3877456cc063b307eba50cf3685.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-cd2e2541d3edea2666b5a07b29aed2b6.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-eb42f3877456cc063b307eba50cf3685.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-909b591f2cac25cad5a307175ce513f6.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-b68e7b0b660d45da3d7f3eaa401ba31b.woff) format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-909b591f2cac25cad5a307175ce513f6.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-b68e7b0b660d45da3d7f3eaa401ba31b.woff) format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-17851cabca6bd2b6b3d74d477129ab58.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-194811c8f8f8b6439bae113cbc5b2f54.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-17851cabca6bd2b6b3d74d477129ab58.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-194811c8f8f8b6439bae113cbc5b2f54.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-e5577f81423353dbc78fc4422e0dca3d.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-bc0be5f88cdb7f0be8ad22aa631714f0.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-e5577f81423353dbc78fc4422e0dca3d.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-bc0be5f88cdb7f0be8ad22aa631714f0.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-eb50565641266df65dba466fd34308bc.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-815b24445351a2c1e969872f75702645.woff) format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-eb50565641266df65dba466fd34308bc.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-815b24445351a2c1e969872f75702645.woff) format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-fd34ca917b19a327ea306146a6e5be70.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-cf23e68ec146e756fedb9c37169fcf97.woff) format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-fd34ca917b19a327ea306146a6e5be70.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-cf23e68ec146e756fedb9c37169fcf97.woff) format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-038f39789ceb892b39a0c25a58d152c3.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-e31fb9e21f996ba57882b7dae976627f.woff) format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-038f39789ceb892b39a0c25a58d152c3.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-e31fb9e21f996ba57882b7dae976627f.woff) format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-fdfc5de54d9222ac0e45fba230a4b869.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-9497acbaf3534f635bb6611ba2215dd0.woff) format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: '_OpenSans';
	src: url(../../assets/fonts/_OpenSans-fdfc5de54d9222ac0e45fba230a4b869.woff2) format('woff2'),
	url(../../assets/fonts/_OpenSans-9497acbaf3534f635bb6611ba2215dd0.woff) format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}