@font-face {
	font-family: 'AolHelpIcons';
	src: url(../../assets/fonts/AolHelpIcons-18ffaf3581cf0905d132d9149384155e.eot) format('embedded-opentype'),
	url(../../assets/fonts/AolHelpIcons-18ffaf3581cf0905d132d9149384155e.eot) format('embedded-opentype'),
	url(../../assets/fonts/AolHelpIcons-4ab51d6219a88b40a877a1797f9b0e70.woff) format('woff'),
	url(../../assets/fonts/AolHelpIcons-09d7c249eb29c024cbb9f1b7197ff1a6.ttf) format('truetype'),
	url(../../assets/fonts/AolHelpIcons-d9eef2bb3c226d26ea2608f5cfd5a643.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}