@media (min-width: 1025px) {
  h4, .h4 {
    line-height: 1.5em;
    letter-spacing: -.018em;
    margin-bottom: 16px;
  }
}

ul {
  font-family: 'Albert Sans', sans-serif;
}

.btn {
  font-family: 'Albert Sans', sans-serif;
}

li {
  line-height: 2.5;
}

