#mainNav {
  position: sticky;
  padding: 8px 12px;
}

@media (min-width: 992px) {
  #mainNav {
    padding: 5px 16px;
  }
}

@media only screen and (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgb(151,67,255);
    background-color: #f5f8fa;
  }
}

#mainNav .navbar-nav > li.nav-item > a {
  font-family: 'Albert Sans';
  color: rgba(0,0,0,0.5);
  font-size: 14px;
}

@media only screen and (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a {
    font-family: 'Albert Sans', sans-serif;
    color: rgba(0,0,0,0.75);
    font-weight: 500;
    margin-right: 1EM;
  }
}

.navbar-toggler {
  border: var(--bs-border-width) solid rgba(255,255,255,0);
}

.navbar {
  --bs-navbar-toggler-font-size: 1rem;
  --bs-navbar-toggler-border-color: rgb(151,67,255);
  --bs-navbar-toggler-focus-width: 0.5px;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.drop-a {
  font-size: 14px;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
}

