.m-banner {
  position: relative;
  height: 72px;
  overflow: hidden;
  color: #232a31;
  font-size: 16px;
  text-align: left;
}

.m-banner.m-banner--hidden {
  display: none;
}

.hasScrolled .m-banner.m-banner--transition, .hasScrolled .m-banner.m-banner--transition .m-banner__inner--container, .m-banner.m-banner--transition, .m-banner.m-banner--transition .m-banner__inner--container {
  -webkit-transition: height .4s cubic-bezier(.23,1,.32,1),visibility .4s cubic-bezier(.23,1,.32,1);
  transition: height .4s cubic-bezier(.23,1,.32,1),visibility .4s cubic-bezier(.23,1,.32,1);
}

.hasScrolled .m-banner.m-banner--transition .m-banner__graphic--container, .m-banner.m-banner--transition .m-banner__graphic--container {
  -webkit-transition: height 0s,visibility .4s cubic-bezier(.23,1,.32,1);
  transition: height 0s,visibility .4s cubic-bezier(.23,1,.32,1);
}

.hasScrolled .m-banner.m-banner--transition.m-banner--hidden, .hasScrolled .m-banner.m-banner--transition.m-banner--hidden .m-banner__graphic--container, .hasScrolled .m-banner.m-banner--transition.m-banner--hidden .m-banner__inner--container, .m-banner.m-banner--transition.m-banner--hidden, .m-banner.m-banner--transition.m-banner--hidden .m-banner__graphic--container, .m-banner.m-banner--transition.m-banner--hidden .m-banner__inner--container {
  height: 0!important;
  display: block;
  visibility: hidden;
  -webkit-transition: height .4s cubic-bezier(.23,1,.32,1),visibility .4s cubic-bezier(.23,1,.32,1) .4s;
  transition: height .4s cubic-bezier(.23,1,.32,1),visibility .4s cubic-bezier(.23,1,.32,1) .4s;
}

.m-banner__inner {
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.m-banner__inner--container {
  left: 0;
  right: 0;
  z-index: 200;
  position: fixed;
  height: 72px;
  background-color: #fff;
  background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.05)),to(transparent));
  background-image: linear-gradient(0deg,rgba(0,0,0,.05),transparent);
  overflow: hidden;
}

.m-banner__title {
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1;
}

.m-banner__copy {
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
}

.m-banner__btn {
  color: inherit;
  text-decoration: none;
  font-size: .75em;
  font-weight: 700;
  line-height: 1.333;
  border: none;
  height: 40px;
  padding: 0 21px;
  text-align: center;
  border-radius: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.m-banner__btn, .m-banner__btn--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-banner__graphic--container {
  height: 72px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.m-banner--chromeAppBanner .m-banner__inner {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.m-banner--chromeAppBanner .m-banner__inner--container {
  position: static;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e0e4e9;
}

.m-banner--chromeAppBanner .m-banner__img {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 44px;
  width: 44px;
  padding-right: 1em;
}

.m-banner--chromeAppBanner .m-banner__btn {
  color: #0f69ff;
  background-color: #fff;
}

.m-banner--chromeAppBanner .m-banner__btn--close {
  background-color: transparent;
  padding: 0 12px;
}

.m-banner--chromeAppBanner .m-banner__btn--close svg {
  height: 12px;
  width: 12px;
  fill: #b0b9c1;
}

.m-banner--chromeAppBanner .m-banner__btn--prompt {
  background-color: #0f69ff;
  color: #fff;
  font-size: 1em;
  line-height: 1;
  font-weight: 800;
  padding: 10px 20px;
  height: auto;
  margin-right: 24px;
}

.m-banner--chromeAppBanner .m-banner__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: left;
}

.m-banner--chromeAppBanner .m-banner__title {
  margin: 0 0 6px;
  font-weight: 800;
  font-size: 1.125em;
}

.m-banner--chromeAppBanner .m-banner__copy {
  margin: 0;
  font-size: .75em;
  font-weight: 600;
}

.m-banner--chromeAppBanner .m-banner__graphic {
  position: absolute;
  display: block;
  height: 200%;
  width: 160px;
  border-radius: 100%;
  background-color: #1a0dab;
  right: -75px;
  top: -115px;
}

.m-banner--chromeAppBanner .m-banner__graphic:after, .m-banner--chromeAppBanner .m-banner__graphic:before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 100%;
}

.m-banner--chromeAppBanner .m-banner__graphic:before {
  height: 57%;
  width: 50%;
  background-color: #7dcbff;
  right: 165px;
  top: 58px;
}

.m-banner--chromeAppBanner .m-banner__graphic:after {
  height: 200%;
  width: 200%;
  background-color: #caf0f8;
  right: -75px;
  top: 140px;
  z-index: -1;
}

.m-banner--chromeAppBanner .m-banner__graphic--container {
  overflow: hidden;
}

.m-banner--chromeAppBanner .m-banner__graphic--container:after, .m-banner--chromeAppBanner .m-banner__graphic--container:before {
  z-index: 1;
  content: "";
  position: absolute;
  display: block;
  height: 60%;
  width: 12px;
  background-color: #7dcbff;
  right: 0;
  bottom: 0;
}

.m-banner--chromeAppBanner .m-banner__graphic--container:before {
  height: 100%;
  background-color: #13a9ff;
  top: 0;
  bottom: auto;
}

.m-flyout {
  position: relative;
  z-index: 10;
}

.m-flyout__container {
  margin: 8px;
  display: none;
  background: #fff;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.1);
  box-shadow: 0 0 1px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.1);
  border-radius: 12px;
  position: absolute;
}

.m-flyout__container a, .m-flyout__container button {
  display: none;
}

.m-flyout__container--bottom, .m-flyout__container--top {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.m-flyout__container--bottom {
  top: 100%;
}

.m-AolHeader.m-AolHeader--grid .m-AolHeader__grid-wrapper {
  height: 100%;
}

.m-AolHeader.m-AolHeader--grid .m-AolHeader__grid-wrapper .m-AolHeader--innerContainer {
  max-width: none;
}

.m-AolHeader.m-AolHeader--grid .m-AolHeader__grid-wrapper .m-AolHeader--innerContainer .title-bar {
  margin: 0;
}

.m-AolHeader.m-AolHeader--grid .top-wrap .m-AolHeader__grid-wrapper .m-AolHeader--innerContainer {
  padding: 0;
}

.m-AolHeader.m-AolHeader--grid .top-wrap .m-AolHeader__grid-wrapper .title-bar {
  padding-left: 0;
  padding-right: 0;
}

.m-AolHeader.m-AolHeader--grid .top-wrap .m-AolHeader__grid-wrapper .title-bar .m-mail__button {
  margin-right: -14px;
}

.m-AolHeader.m-AolHeader--grid .top-wrap .m-AolHeader__grid-wrapper #header-form {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .m-AolHeader__spacer--header {
    height: 120px!important;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .top-wrap {
    height: 84px!important;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .top-wrap .m-AolHeader--shadow {
    top: 84px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .top-wrap .m-AolHeader--innerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .top-wrap .title-bar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0;
    flex: 0 0;
    padding: 0;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .top-wrap .title-bar .m-mail--new, .m-AolHeader.m-AolHeader--grid .top-wrap .title-bar .m-mail--new .m-mail__button, .m-AolHeader.m-AolHeader--grid .top-wrap .title-bar .m-profile__signin, .m-AolHeader.m-AolHeader--grid .top-wrap .title-bar__burger {
    display: none;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .top-wrap #header-form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    position: static;
    max-width: none;
    padding-left: 20px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .top-wrap #user-navigation {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .top-wrap #user-navigation .user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--grid .top-wrap #user-navigation .user-navigation .m-mail__lbl {
    display: block;
  }
}

.m-AolHeader {
  margin: auto;
  margin-bottom: 0!important;
  width: 100%;
}

.m-AolHeader--shadow {
  height: 32px;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.05)),to(transparent));
  background: linear-gradient(180deg,rgba(0,0,0,.05),transparent);
  pointer-events: none;
}

.m-AolHeader--innerContainer {
  max-width: 1405px;
  margin: 0 auto;
}

.m-AolHeader--innerWrapper {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 200;
}

.m-AolHeader__spacer--header {
  height: 100px;
}

.m-AolHeader .top-wrap {
  position: relative;
  height: 42px;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.m-AolHeader .title-bar {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width:900px) {
  .m-AolHeader .title-bar .logo-link svg {
    padding-top: 10px;
  }
}

.m-AolHeader #header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.m-AolHeader .desktop-user-navigation .user-navigation {
  display: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 18px 0 0;
  width: auto;
}

@media screen and (min-width:901px) {
  .m-AolHeader .m-AolHeader--shadow {
    top: 60px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader .m-AolHeader__spacer--header {
    height: 90px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader .logo {
    padding: 0 0 0 10px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader .top-wrap {
    height: 60px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader .title-bar {
    padding-top: 10px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader .desktop-user-navigation {
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader .desktop-user-navigation .user-navigation {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: auto;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader #header-form {
    left: 150px;
    max-width: 650px;
    position: relative;
    top: -42px;
    width: calc(100% - 442px);
    padding: 0;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader #header-form.header-form--smaller {
    width: calc(100% - 500px);
  }
}

@media screen and (min-width:1265px) {
  .m-AolHeader .desktop-user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: calc(100% - 320px);
    margin-top: 0;
    position: relative;
    top: -91px;
    width: 320px;
  }
}

@media screen and (min-width:1265px) {
  .m-AolHeader #header-form {
    left: 200px;
    max-width: calc(100% - 520px);
    width: 100%;
  }
}

.m-AolHeader.m-AolHeader--roundedSearch .m-AolHeader__spacer--header {
  height: 130px;
}

@media screen and (max-width:900px) {
  .m-AolHeader.m-AolHeader--roundedSearch .m-AolHeader--shadow {
    top: 115px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--roundedSearch .top-wrap {
    height: 85px!important;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--roundedSearch .top-wrap .desktop-user-navigation {
    top: -99px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--roundedSearch .top-wrap .m-AolHeader--shadow {
    height: 42px;
    top: 85px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--roundedSearch .top-wrap .title-bar {
    padding-top: 20px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--roundedSearch .m-AolHeader__spacer--header {
    height: 120px;
  }
}

@media screen and (min-width:901px)and (max-width:1265px) {
  .m-AolHeader.m-AolHeader--roundedSearch .top-wrap .desktop-user-navigation {
    top: 9px;
  }
}

.m-AolHeader.m-AolHeader--roundedSearch #header-form {
  top: -40px;
}

@media screen and (max-width:900px) {
  .m-AolHeader.m-AolHeader--roundedSearch #header-form {
    padding: 16px 20px;
    background-color: #fff;
  }
}

@media screen and (max-width:900px) {
  .m-AolHeader.m-AolHeader--roundedSearch.m-AolHeader--mobile .m-AolHeader__spacer--header {
    height: 130px;
  }
}

.m-AolHeader.m-AolHeader--navV2 .top-wrap {
  height: 65px;
}

.m-AolHeader.m-AolHeader--navV2 #user-navigation {
  width: 363px;
}

@media screen and (min-width:1265px) {
  .m-AolHeader.m-AolHeader--navV2 #user-navigation {
    left: calc(100% - 363px);
  }
}

.m-AolHeader.m-AolHeader--navV2 .user-navigation {
  position: relative;
  width: 100%;
  padding: 0;
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--navV2 .user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.m-AolHeader.m-AolHeader--navV2 .user-navigation > div {
  margin-right: 2px;
  margin-left: 2px;
}

.m-AolHeader.m-AolHeader--navV2 .m-browse__btn, .m-AolHeader.m-AolHeader--navV2 .m-cs__btn, .m-AolHeader.m-AolHeader--navV2 .m-profile__btn, .m-AolHeader.m-AolHeader--navV2 .user-navigation__btn {
  margin-top: 0;
  border: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  font-family: Poppins,_OpenSans,OpenSans,Helvetica Neue,helvetica,arial,sans-serif;
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #232a31;
}

.m-AolHeader.m-AolHeader--navV2 .m-browse__btn svg, .m-AolHeader.m-AolHeader--navV2 .m-cs__btn svg, .m-AolHeader.m-AolHeader--navV2 .m-profile__btn svg, .m-AolHeader.m-AolHeader--navV2 .user-navigation__btn svg {
  margin-left: 8px;
  fill: #232a31;
}

.m-AolHeader.m-AolHeader--navV2 .m-browse__btn:hover, .m-AolHeader.m-AolHeader--navV2 .m-cs__btn:hover, .m-AolHeader.m-AolHeader--navV2 .m-profile__btn:hover, .m-AolHeader.m-AolHeader--navV2 .user-navigation__btn:hover, .m-flyout--open .m-AolHeader.m-AolHeader--navV2 .m-browse__btn, .m-flyout--open .m-AolHeader.m-AolHeader--navV2 .m-cs__btn, .m-flyout--open .m-AolHeader.m-AolHeader--navV2 .m-profile__btn, .m-flyout--open .m-AolHeader.m-AolHeader--navV2 .user-navigation__btn {
  color: #0047ff;
  background-color: #f5f8fa;
}

.m-AolHeader.m-AolHeader--navV2 .m-browse__btn:hover svg, .m-AolHeader.m-AolHeader--navV2 .m-cs__btn:hover svg, .m-AolHeader.m-AolHeader--navV2 .m-profile__btn:hover svg, .m-AolHeader.m-AolHeader--navV2 .user-navigation__btn:hover svg, .m-flyout--open .m-AolHeader.m-AolHeader--navV2 .m-browse__btn svg, .m-flyout--open .m-AolHeader.m-AolHeader--navV2 .m-cs__btn svg, .m-flyout--open .m-AolHeader.m-AolHeader--navV2 .m-profile__btn svg, .m-flyout--open .m-AolHeader.m-AolHeader--navV2 .user-navigation__btn svg {
  fill: #0047ff;
}

.m-AolHeader.m-AolHeader--navV2 .m-mail--new {
  position: relative;
}

.m-AolHeader.m-AolHeader--navV2 .m-mail--new .m-mail__lbl {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  font-family: Poppins,_OpenSans,OpenSans,Helvetica Neue,helvetica,arial,sans-serif;
  color: #232a31;
  white-space: nowrap;
}

.m-AolHeader.m-AolHeader--navV2 .m-mail--new .m-mail__button {
  padding: 9px 14px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.m-AolHeader.m-AolHeader--navV2 .m-mail--new .m-mail__button svg {
  margin-left: 8px;
  fill: #232a31;
  display: block;
}

.m-AolHeader.m-AolHeader--navV2 .m-mail--new .m-mail__button:hover {
  background-color: #f5f8fa;
}

.m-AolHeader.m-AolHeader--navV2 .m-mail--new .m-mail__button:hover .m-mail__lbl {
  color: #0047ff;
}

.m-AolHeader.m-AolHeader--navV2 .m-mail--new .m-mail__button:hover svg {
  fill: #0047ff;
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--navV2 .m-mail--new .m-mail__button {
    padding: 9px 24px;
  }
}

.m-AolHeader.m-AolHeader--navV2 .m-AolHeader--shadow {
  top: 65px;
}

.m-AolHeader.m-AolHeader--navV2 .title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 10px 0;
}

.m-AolHeader.m-AolHeader--navV2 .title-bar .logo {
  width: 75px;
  padding: 0;
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: left;
}

.m-AolHeader.m-AolHeader--navV2 .title-bar .logo-link {
  display: block;
}

.m-AolHeader.m-AolHeader--navV2 .title-bar .m-mail--new, .m-AolHeader.m-AolHeader--navV2 .title-bar .m-profile__signin {
  display: block;
}

.m-AolHeader.m-AolHeader--navV2 .title-bar .m-mail--new {
  position: relative;
}

.m-AolHeader.m-AolHeader--navV2 .title-bar .m-mail--new svg {
  height: 27px;
}

@media screen and (max-width:900px) {
  .m-AolHeader.m-AolHeader--navV2 #header-lnav a, .m-AolHeader.m-AolHeader--navV2 .m-mail--new .m-mail__lbl {
    display: none;
  }
}

@media screen and (max-width:900px) {
  .m-AolHeader.m-AolHeader--navV2 .m-AolHeader--shadow {
    top: 130px;
  }
}

@media screen and (max-width:900px) {
  .m-AolHeader.m-AolHeader--navV2.m-AolHeader--roundedSearch .m-AolHeader__spacer--header {
    height: 145px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--navV2 .m-AolHeader--shadow {
    top: 60px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--navV2 .top-wrap .m-AolHeader--innerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 5px;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--navV2 .top-wrap .m-AolHeader--innerContainer #header-form {
    position: static;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: none;
    padding-left: 11%;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--navV2 .top-wrap .m-AolHeader--innerContainer #user-navigation {
    position: static;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--navV2 .top-wrap .m-AolHeader--innerContainer #user-navigation .user-navigation {
    position: relative;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--navV2 .top-wrap .title-bar {
    padding: 0;
    margin-left: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0;
    flex: 0 0;
  }
}

@media screen and (min-width:901px) {
  .m-AolHeader.m-AolHeader--navV2 .top-wrap .title-bar .m-mail--new, .m-AolHeader.m-AolHeader--navV2 .top-wrap .title-bar .m-profile__btn, .m-AolHeader.m-AolHeader--navV2 .top-wrap .title-bar .m-profile__signin, .m-AolHeader.m-AolHeader--navV2 .top-wrap .title-bar__burger {
    display: none;
  }
}

@media screen and (min-width:901px)and (max-width:1265px) {
  .m-AolHeader.m-AolHeader--navV2 .top-wrap .m-AolHeader--innerContainer #header-form {
    padding-left: 20px;
  }
}

.m-cs {
  color: #232a31;
}

.m-cs .m-flyout__container {
  width: 277px;
}

.m-cs__btn {
  border: none;
  font-size: 14px;
  line-height: .857;
  font-weight: 400;
  background-color: #fff;
  padding: 18px 24px;
  border-radius: 50px;
  margin-top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-cs__btn svg {
  margin-left: 8px;
  fill: #232a31;
}

.m-cs__btn:hover, .m-flyout--open .m-cs__btn {
  color: #0047ff;
  background-color: #f5f8fa;
}

.m-cs__btn:hover svg, .m-flyout--open .m-cs__btn svg {
  fill: #0047ff;
}

.m-cs__title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  margin: 30px 0 22px;
}

.m-cs__number {
  font-family: Poppins,_OpenSans,OpenSans,Helvetica Neue,helvetica,arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 25px;
  display: block;
}

.m-cs__morelink, .m-cs__number {
  color: inherit;
  text-decoration: none;
}

/* # sourceMappingURL=aol_header.css.map */

a {
  color: var(--color-picasso);
  text-decoration: none;
}

